CAS;rtcm-ntrip.org;2101;NtripInfoCaster;BKG;0;DEU;50.12;8.69;http://www.rtcm-ntrip.org/home
STR;test;BurrowMump;RTCM 3.0;;2;GPS+GLONASS+GALILEO+BEIDOU;QNET;GBR;51.07;-2.91;1;0;Ublox F9P;none;B;N;520;
